<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kittyandpuppy.withallmyanimal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithAllMyAnimal"
        tools:targetApi="31">
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.mypage.MypageOtherUsers"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.detail.DetailDailyActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.detail.DetailBehaviorActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.detail.DetailPetActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.write.MypageDaily"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.LoginPage.DogAndCatAddActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.detail.DetailHospitalActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.write.MypageBehavior"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.write.MypageHospital"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.write.MypagePet"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.kittyandpuppy.withallmyanimal.LoginPage.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>